.secbar {
    display: flex;
    align-items: center;
    background-color: #232f3e;
    padding: 0 10px;
}

.secbar__deliver {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.secbar__icon {
    color: white;
}

.secbar__location {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-right: 100px;
}

.secbar__optionLine1 {
    color: white;
    font-size: 12px;
}

.secbar__optionLine2 {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.secbar__links {
    display: flex;
    align-items: center;
    flex: 1;
}

.secbar__links > a {
    color: #ccc;
    padding: 7px 8px;
    font-size: 13px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 2px;
    margin: 5px 0;
}

.secbar__links > a:hover,
.secbar__response > a:hover {
    border: 1px solid white;
}

.secbar__response {
    margin-top: -3px;
}

.secbar__response > a {
    color: white;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 8px 6px 8px;
}
